<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
				scriptProcessor="F:\Python\Python39\Python.exe|F:\Python\Python39\Lib\site-packages\wfastcgi.py"
				resourceType="Unspecified" requireAccess="Script" />
		</handlers>
	</system.webServer>
	<appSettings>
		<add key="PYTHONPATH" value="F:\tbr_bb_card"/>
		<!-- The handler here is specific to Bottle; see the next section. -->
		<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()"/>
		<add key="WSGI_LOG" value="F:\Logs\wfastcgi.log"/>
		<add key="DJANGO_SETTINGS_MODULE" value="tbr_bb_card.settings" />
	</appSettings>
</configuration>
